<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/boy.jpg" alt="Arif Gimnastiar" class="img-thumbnail rounded-circle" width="200">
            <h1 class="display-2 mt-3">Arif Gimnastiar</h1>
            <p class="lead">Student | Web Developer</p>
        </div>
    </div>
</div>